<div class="card card-container-register">
    <form role="form">
        <div class="form-group">
            <label for="email">Email Address</label>
            <input class="form-control input-lg" id="email" type="email">
        </div>
        <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Submit</button>
    </form>
    <a ui-sref="register" class="forgot-password">
        Create New Account?
    </a><br>
    <a ui-sref="login" class="forgot-password">
        Already Have Account ??
    </a>
</div><!-- /card-container -->