<div class="card card-container">
    <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"/>
    <form class="form-signin" role="form" ng-submit="submit()" name="signInForm" novalidate>
        <div class="email-pass-invalid-alert">
            <span id="email-pass-invalid-error"></span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': signInFormErrors.signInFormEmailErrors && !signInForm.email_address.$valid }">
            <input type="email" class="form-control" name="email_address"
                   id="email_address" ng-model="email_address" ng-keyup="validateEmail()" placeholder="Email Address" required>
            <div class="email-invalid-alert">
                <span id="email-error"></span>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error': signInFormErrors.signInFormPasswordErrors && !signInForm.password.$valid }">
            <input type="password" class="form-control" name="password" id="password" ng-model="password" ng-keyup="validatePassword()" placeholder="Password" required>
            <div class="password-invalid-alert">
                <span id="password-error"></span>
            </div>
        </div>
        <div id="remember" class="checkbox">
            <label>
                <input type="checkbox" ng-model="remember_me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
    </form><!-- /form -->
    <a ui-sref="forgot-password" class="forgot-password">
        Forgot the password?
    </a>
    <br>
    <a ui-sref="register" class="forgot-password">
        Create New Account?
    </a>
</div><!-- /card-container -->